<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Options trading platform"/>
    <meta name="author" content="Matt Loppatto"/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Tradeking Options Trader</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/amcharts/style.css" type="text/css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <form class="form-inline" role="form">
            <input type="text"  class="form-control input-sm" id="update-symbol" placeholder="Symbol">
            <input type="text"  class="form-control input-sm" id="update-lower-strike" placeholder="Lower strike">
            <input type="text" class="form-control input-sm" id="update-upper-strike" placeholder="Upper strike">
            <select class="form-control input-sm" id="update-expiration">
              <!--<option value="20141107">7 Nov 2014</option>
              <option value="20141114">14 Nov 2014</option>
              <option value="20141121">21 Nov 2014</option>
              <option value="20141128">28 Nov 2014</option>-->
            </select>
            <button type="button" class="btn btn-default btn-sm" id="update-option-chain">Update</button>
          </form>
        </div>
      </div>

      <div class="row">

        <!-- Option Chain -->
        <div class="col-lg-6 col-md-6 text-center">
          <strong>Option Chain</strong>
          <table class="table table-bordered table-condensed" id="option-chain">
            <tr>
              <th colspan="5" class="text-center small">Calls</th>
              <th></th>
              <th colspan="5" class="text-center small">Puts</th>
            </tr>
            <tr>
              <th class="text-center small">B#</th>
              <th class="text-center small">B$</th>
              <th class="text-center small">$</th>
              <th class="text-center small">A$</th>
              <th class="text-center small">A#</th>
              <th class="text-center small">Strike</th>
              <th class="text-center small">B#</th>
              <th class="text-center small">B$</th>
              <th class="text-center small">$</th>
              <th class="text-center small">A$</th>
              <th class="text-center small">A#</th>
            </tr>
          </table>
        </div>

        <!-- Tab panes -->
        <div class="col-lg-6 col-md-6 text-center">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#chart" role="tab" data-toggle="tab">Chart</a></li>
            <li role="presentation"><a href="#skew" role="tab" data-toggle="tab">Skew</a></li>
            <li role="presentation"><a href="#order-book" role="tab" data-toggle="tab">Order Book</a></li>
            <li role="presentation"><a href="#trade" role="tab" data-toggle="tab">Trade</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="chart">
              <div id="chartdiv" style="width:100%; height:400px;"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="skew"></div>
            <div role="tabpanel" class="tab-pane" id="order-book"></div>
            <div role="tabpanel" class="tab-pane" id="trade"></div>
          </div>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tradeking.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socketio.js"></script>
    <script src="/js/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/js/amcharts/serial.js" type="text/javascript"></script>
    <script src="/js/amcharts/amstock.js" type="text/javascript"></script>
    <script src="/js/amcharts/dark.js" type="text/javascript"></script>
    <script type="text/javascript">
      console.log("creating chart...");
      AmCharts.theme = AmCharts.themes.dark;
      var chartData = [
                {date: new Date(2011, 5, 1, 0, 0, 0, 0), open:"10", high:"11", low:"9", close:"10.5"},
                {date: new Date(2011, 5, 2, 0, 0, 0, 0), open:"10.6", high:"10.7", low:"10", close:"10.1"},
                {date: new Date(2011, 5, 3, 0, 0, 0, 0), open:"10.1", high:"10.1", low:"9.5", close:"9.5"},
                {date: new Date(2011, 5, 4, 0, 0, 0, 0), open:"9.4", high:"9.6", low:"9.4", close:"9.5"},
                {date: new Date(2011, 5, 5, 0, 0, 0, 0), open:"9.9", high:"10.9", low:"9.8", close:"10.8"},
                {date: new Date(2011, 5, 6, 0, 0, 0, 0), open:"10.9", high:"11.3", low:"10.9", close:"11"},
                {date: new Date(2011, 5, 7, 0, 0, 0, 0), open:"11", high:"11.8", low:"10.9", close:"11.5"},
                {date: new Date(2011, 5, 8, 0, 0, 0, 0), open:"11.6", high:"12.1", low:"11.3", close:"12"},
                {date: new Date(2011, 5, 9, 0, 0, 0, 0), open:"12", high:"12.4", low:"11.5", close:"11.6"},
                {date: new Date(2011, 5, 10, 0, 0, 0, 0), open:"11.5", high:"11.5", low:"9.2", close:"9.3"}
            ];

            AmCharts.ready(function() {
                var chart = new AmCharts.AmStockChart();
                chart.pathToImages = "/img/amcharts/";

                var dataSet = new AmCharts.DataSet();
                dataSet.dataProvider = chartData;
                dataSet.fieldMappings = [{fromField:"open", toField:"openField"}];
                dataSet.fieldMappings = [{fromField:"high", toField:"highField"}];
                dataSet.fieldMappings = [{fromField:"low", toField:"lowField"}];
                dataSet.fieldMappings = [{fromField:"close", toField:"closeField"}];
                dataSet.categoryField = "date";
                chart.dataSets = [dataSet];

                var stockPanel = new AmCharts.StockPanel();
                chart.panels = [stockPanel];

                var panelsSettings = new AmCharts.PanelsSettings();
                panelsSettings.startDuration = 1;
                chart.panelsSettings = panelsSettings;

                var graph = new AmCharts.StockGraph();
                graph.valueField = "close";
                graph.type = "candlestick";
                graph.fillAlphas = 1;
                graph.title = "MyGraph";
                stockPanel.addStockGraph(graph);

                chart.write("chartdiv");
            });
    </script>
  </body>
</html>
